<section class="main-page">
  <div class="main-header row">
    <search class="twelve columns"></search>
  </div>
  <div class="row">
    <recipe-list class="twelve columns"></recipe-list>
  </div>
</section>
